.test{
	margin: 0;
}

#sign_in{
	position: fixed ;
	top: 0 ;
	right:0 ;
	height:100%;
	width:100%;
	background-color: black;
	opacity:0.7;
	z-index : 99;
}

#input_info ,
#welcome_into_game,
#reciprocal{
  font-family: fantasy;
  font-size: 45px;
  margin: auto;
  width: 305px;
  height: 100px;
  margin-top: 200px;
}
#welcome_into_game{
	display:none;
	width:315px;
}
#welcome_into_game .btn {
  opacity: 0.8;
}
#input_info .my_name{
	color: white;
	background-color: black;
	width:200px;
	margin:auto;
} 

#welcome_into_game #your_name img {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}
/**
#welcome_into_game #is_ready{
	display:none;
}
**/

#reciprocal{
	display:none;
	font-size: 100px;
	text-align: center;
}
#container{
	display:none;
	width:1000px;
	height:670px;
	margin: 10px auto;
}
#my_container , 
#your_container,
#game_status{
	float:left;
	height:inherit;

}
#my_container , 
#your_container{
	width:400px;

}
#my_container .input_container input{
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
	box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#game_status{
	width:200px;
}
#game_status .countdown{
	font-family: fantasy;
	text-align: center;
	font-size: 140px;
	width: 170px;
	height: 150px;
	margin: auto;
	box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);

}
#game_status .score{
	
	width: 170px; 
	height: 150px;
	margin: 25px auto;
	box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);

}

#game_status .score .my_score,
#game_status .score .your_score{
	width: 75px; 
	height: 150px;
	float:left;
	font-family: fantasy;
	font-size: 33px;
	padding-top: 50px;
	text-align: center;

}
#game_status .score .vs_score{
	width: 20px; 
	height: 150px;
	float:left;
	padding-top: 60px;
}

#my_container .bubble_container,
#your_container .bubble_container {
	height:635px;
	background:black;  
	opacity:0.8;
	border-radius: 15px;
	border-radius:3px 3px 0 0 ;
    -moz-border-radius:0 0 3px 3px 0 0 ;
    -webkit-border-radius:0 0 3px 3px 0 0 ;

}

#your_container .your_name{
	width: inherit;
	height: 34px;
	text-align: center;
	background-color: white;
	font-size: 25px;
	line-height: initial;
	font-family: fantasy;
	border-radius: 0 0 3px 3px ;
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
	box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
} 


.bubble{
	width :100px;
	height:30px;
	font-family: -webkit-body;
	text-align: center;
	background: rgb(210, 210, 210);
	font-size: 17px;
	border-radius: 10px;
	border: 1px solid;
	float: left;

	
}
